#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .score {
  text-shadow: 2px 2px 2px rgb(155, 197, 201);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hint {
  background-color: rgb(249, 250, 187);
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--main-color);
  border-radius: 100%;
  border: 2px solid var(--main-color);
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
}

.hint:hover {
  color: rgb(166, 197, 140);
}

.hint:focus {
  outline: 2px solid transparent;
}

.hint-reveal {
  text-decoration: underline var(--main-color);
}

.foto {
  max-width: fit-content;
  padding: 1rem;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgb(140, 137, 137);
  position: relative;
  min-height: 17em;
  min-width: 17em;
  margin-top: 1rem;
}

.hangman-gamepage {
  max-height: 15em;
  display: block;
}

.game {
  white-space: nowrap;
  padding: 0.5rem 0;
}

.word {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  gap: 10px;
}

.gissa {
  display: inline-block;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.65rem + 2.375vw, 3.5rem);
  text-align: center;
  margin: 1rem 0.4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
}

.ord {
  border: 1px solid grey;
  box-shadow: 1px 1px 2px 0px rgb(140, 137, 137);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 1.5em;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  color: black;
}
.container a {
  text-decoration: none;
}

.ord:active {
  background-color: darkgray;
}

.ord:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.ord.correct {
  background-color: rgb(160, 190, 164);
  color: white;
  border-color: rgb(11, 190, 11);
}
.ord.incorrect {
  background-color: rgb(196, 171, 171);
  color: white;
  border-color: red;
}

#hangman path {
  transition: opacity 0.5s ease-in-out;
}

#hangman path[style*="display: none;"] {
  visibility: hidden;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

.game-over {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}

.game-page {
  display: block;
}

.hide-page {
  display: none;
}

.ord.hint {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.ord.hint-disabled {
  background-color: rgb(199, 209, 210);
  color: white;
  border: 3px solid darkcyan;
  cursor: not-allowed;
}

.hint.disabled {
  background-color: rgb(172, 184, 185);
  color: white;
  cursor: not-allowed;
}