* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #008777;
  --white-color: #fefefe;
  --box-shadow: 0px 5px 10px 5px #d8d8d8;
}

body {
  max-width: 500px;
  margin: auto;

  nav ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 1rem;
      padding: 1rem;
      color: var(--main-color);
      text-decoration: underline;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}

#score-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: var(--main-color);
    text-transform: uppercase;
    padding: 0.5rem 0 1.5rem;
  }

  table {
    border-spacing: 0;
    width: 95%;
    border-bottom: 3px solid var(--main-color);
    box-shadow: var(--box-shadow);
  }

  thead {
    background-color: #008777;
    color: var(--white-color);
  }

  th {
    padding: 1rem;
    text-align: left;
  }

  td {
    padding: 0.5rem 1rem;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--white-color);
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    color: var(--main-color);
  }
}
