* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #008777;
  --white-color: #fefefe;
  --box-shadow: 0px 5px 10px 5px #d8d8d8;
}

body {
  max-width: 500px;
  margin: auto;
  position: relative;

  nav ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 1rem;
      padding: 1rem;
      color: var(--main-color);
      text-decoration: underline;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}

.head{
	display: flex;
	justify-content: space-between;
}
.foto{
	width: 60%;
	height: 400px;
	border: 4px dashed rgb(101, 100, 100);
	border-radius: 8px;
	box-shadow: 6px 10px 10px rgb(106, 105, 105);
	margin: auto;
}
.gissa1{
	display: flex;
	padding: 20px;
	margin-top: 15px ;
	margin-bottom: 15px;
	justify-content: center;
}

.gissa{
	width: 3.5em;
	height: 3.5em;
	background-color: rgb(195, 231, 220);
	border: 2px solid rgb(5, 94, 80);
	border-radius: 5px;
	margin: 7PX;
	
	
	
}





.container{
display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: center;



	
}
.ord{
	width:4em ;
	height: 4em;
	background-color: #ffffff;
	color: #000000;
	border: 3px solid grey;
	box-shadow: 2px 5px 5px rgb(140, 137, 137);
	text-align: center;
	font-weight: bolder;
	margin: 5px;
	
	


}
.container a{
	text-decoration: none;
	font-size: 20px;
}

